.button-back {
  z-index: 999;
  filter: invert(1) grayscale(100);
  span {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
    filter: invert(1) grayscale(100) opacity(0.4);
  }
  &__container {
    height: 0;
  }
}

.profile-page {
  .default-page-tmpl__content {
    margin-top: 80px!important;
  }
}
